@import "../assets/style.css";

.hasWarnings {
  background-color: var(--status-warning-color);
}

.hasErrors {
  background-color: var(--status-error-color);
}

.isOk {
  background-color: var(--status-ok-color);
}